<div class="container">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a href="#/"><img src="images/angular.png" class="logo" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a [routerLink]="['/calculations']">History</a>
            </li>
            <li>
                <a [routerLink]="['/calculations/new']">New calculation</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</div>
