<div class="container">
    <div class="alert alert-danger" *ngIf="!calculationForm.valid && submitted">
        <ul *ngFor="let msg of validationMessages">
            <li>{{msg}}</li>
        </ul>
    </div>
    <div>
        <h1>Calculation Form</h1>
        <form [formGroup]="calculationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">vatRate</label>
                <select class="form-control" formControlName="vatRate">
                    <option  value="-1">No vat rate is selected</option>
                    <option *ngFor="let vatRate of vatRates" [value]="vatRate">{{vatRate}}%</option>
                </select>
            </div>
            <div class="form-group">
                <label for="valueAddedTax">valueAddedTax</label>
                <input type="text" class="form-control" formControlName="valueAddedTax" />
            </div>
            <div class="form-group">
                <label for="priceInclVat">priceInclVat</label>
                <input type="text" class="form-control" formControlName="priceInclVat" />
            </div>
            <div class="form-group">
                <label for="priceWoVat">priceWoVat</label>
                <input type="text" class="form-control" formControlName="priceWoVat" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>
