<div class="container">
    <form>
	<div class="panel panel-default">
	 <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Value added Tax" id="valueAddedTax" required [(ngModel)]="model.valueAddedTax" name="valueAddedTax">
					  <span class="input-group-addon">VAT</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                   
                    <select  [(ngModel)]="model.vatRate" name="vatRate" class="form-control">
						  <option *ngFor="let vatRate of vatRates" value= {{vatRate}}>
							{{vatRate}} %
						  </option>
					</select>
					<span class="input-group-addon">VR</span>
			    </div>
				TODO: remove this: {{model.vatRate}}
            </div>
			<div class="col-xs-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Price without Vat" id="priceWoVat" required [(ngModel)]="model.priceWoVat" name="priceWoVat">
                    <span class="input-group-addon">POV</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Price including Vat" id="priceInclVat" required [(ngModel)]="model.priceInclVat" name="priceInclVat">
                    <span class="input-group-addon"></span>
				</div>
			</div>
		</div>
	</div>
	</div>
	</form>
		 <div class="row">
		 	<div class="col-md-2 col-md-offset-5">
			<div class="button group">
				<button type="button" class="btn btn-success btn-lg" (click)="newCalculation()">Calculate</button>
			 </div>
			</div>
			
		</div>
	<div class="row">
		<div class="col-xs-12">
			<calculation-result *ngIf="calculationResult" [result]="calculationResult"></calculation-result>
		</div>
	</div>
</div>


