form {
    width: 50%;
}

.logo {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.error-img {
    height: 25px;
}

.ng-invalid:not(form){
    border-left: 5px solid #a94442;
}

.ng-valid:not(form){
    border-left: 5px solid #42A948;
}


/* Bootstrap overrides */

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}
